---
import Base from '../layouts/Base.astro';
import './index.css';
---


<Base>
	<main>
		<img src="/openuji_logo.svg" alt="OpenUJI Logo" class="logo" />
		<h1>Open <i>User Journey</i> Initiative</h1>
	</main>

</Base>