---

import logo from './assets/openuji-specs-logo.svg';
import styles from './Header.module.css';
---

<header class={`fluid-container ${styles.header}`}>
  <a href="/"><img class={styles.logo} src={logo.src} alt="Logo" /></a>
</header>
