---
export interface Props {
  title: string
  className?: string
}
import Footer from '@/components/footer/Footer.astro';
const { title, className } = Astro.props;

import '@/styles/main.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class={className || ''}>
    <slot />  
     <Footer />
  </body>
</html>
