---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string
  showHeader?: boolean
  showFooter?: boolean
}
const { title, showHeader = true } = Astro.props;
---
<BaseLayout title={title} className="markdown-body">
  {showHeader && (
      <header class="p-3 px-4 border-bottom">
        <div class="container-xl d-flex flex-justify-between items-center">
          <a href="/" class="h4 m-0">OpenUJI Specs</a>
          <div>{title}</div>
        </div>
      </header>
    )}

    <main class="container-xl my-6">
      <slot />
    </main>

</BaseLayout>
