---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string
  showHeader?: boolean
  showFooter?: boolean
}
const { title, showHeader = true } = Astro.props;
---
<BaseLayout title={title} >
  {showHeader && (
      <header>
        <div >
          <a href="/" >OpenUJI Specs</a>
          <div>{title}</div>
        </div>
      </header>
    )}

    <main >
      <slot />
    </main>

</BaseLayout>
