@reference '#main.css';

.specTemplate {

  article, section {
    margin-block: --spacing(6);
  }
 
  @variant lg {
    display: flex;
    gap: --spacing(4);  
    > main {
      flex: 1;
      
      /* aside {
        position: sticky;
        top: 0;
        width: var(--toc-width);
        border-right: 1px solid var(--color-border);

      } */
    }

    
  }
  

  .toolbar {
    position: sticky;
    top: 0;
    padding-top: --spacing(6);
    height: fit-content;
    width: var(--tools-width);
    @apply px-4;
  }
  

 

  .contentSections {

    h2 {
      padding-top: --spacing(12);
      padding-bottom: --spacing(2);
      border-bottom: 1px solid var(--border);
      margin-block-start: --spacing(12);
      margin-block-end: --spacing(6);
    }
    h3 {
      margin-bottom: --spacing(4);
      margin-block-start: --spacing(8);
    }
    h4 {
      margin-bottom: --spacing(3);
    }
  
  }
 
  .headerSections {


   
    h2 {
      @apply text-sm font-medium text-muted-foreground;
      margin-bottom: --spacing(2);
    }

    p, ul {
      @apply text-sm text-foreground;
    }

  }

}